/* some variables */

/* copyright 2022 @scotlyema 
*/


/* global variables
*/

:root {
    /* colors
    */

    
    --hue: 200;
    --saturation: 70%;
    --lightness: 55%;

    --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

    /* bg colors*/
    --body-bg-color: hsl(var(--hue), 60%, 94%);
    --bg-color: hsl(var(--hue), 60%, 96%);


    /* text colors*/
    --text-light-gray: #cecccc;
    --text-x-dark-gray: #333333;
    --text-dark-gray: #8d8d8d98;

    --label-light-gray: #e4e4e4;

    --panel: #1e1e1e;
    --accent-dark: #a0101a;
    --main-color: #46a8c4;
    --text-color:#3a3838;
    --bg-color: #fff;
    --form-border: #6e6e6e;
    --hover-color: #ffffff;
    --live-indicator-shadow: rgba(121, 6, 6, 0.712);
    --live-indicator: rgba(255, 0, 0, 0.795);
    --off-white: rgba(199, 159, 159, 0.815);
    --header-blur: rgba(5, 5, 5, 0.336);
    --bshadow-color:  rgba(27, 27, 27, 0.6);
    --box-shadow: 0 0 6px #ff2c1f,
                 0 0 8px #ff2c1f,
                 0 0 6px #ff2c1f,
                 0 0 0px #ff2c1f;

    --text-shadow: 0 0 8px #ff2c1f,
                 0 0 10px #ff2c1f,
                 0 0 10px #ff2c1f,
                 0 0 0px #ff2c1f;

     --linear-gradient: linear-gradient(145deg, #e1e1e1, #fff);
     
     --linear-gradient-box-shadows: 3px 3px 4px #e6e6e6, 
                             -3px -3px 4px #ffffff;


    --header-blur-hover: rgba(5, 5, 5, 0.336);

    --dol-red: #ff574e;

     --sideNav: #ffffff;

     --box-shadow-hover: #ff574e;

     --text-shadow-hover:  #ff574e;
              
/* Typegraphy
    */
    
        --ff-poppins: 'Poppins', sans-serif;


        --section-heading: 40px;
        --fs-lg:           22px;
        --fs-lg-ex:        50px;

        --fs-4x:           50px;
        --fs-3x:           35px;
        --fs-2x:           26px;
        --fs-x:           20px;

        --fs-md:           16px;
        --fs-sm:           14px;
        --fs-x-sm:         12px;


        --fw-7: 700;
        --fw-6: 600;
        --fw-5: 500;
        --fw-4: 400;
        --fw-3: 300;
        --fw-2: 200;

    /* spacing
    */
       --px:120px; /* padding-left & padding right */
}
    

/* font family */
@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

/*relaway font family*/
@font-face {
    font-family: 'rale';
    src: url();
}

/*mont font family*/
@font-face {
    font-family: 'rale';
    src: url();
}