.section-padding {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 45px;
}

.section-title .title {
    position: relative;
    display: inline-block;
    font: var(--fs-lg);
    font-weight: 400;
    text-transform: capitalize;
    color: var(--main-color);
    margin: 0 0 12px;
    padding: 0 40px;
}

.section-title .title::before {
    left: 0;
}

.section-title .title::after {
    right: 0;
}

.section-title .sub-title {
    font-size: var(--fs-3x);
    text-transform: capitalize;

}

.section-title .title::before,
.section-title .title::after {
    content: '';
    position: absolute;
    width: 34px;
    height: 1px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    
}

.about .section-title {
    text-align: left;
    margin: 0 0 15px;
}

.about-img, 
.about-text {
    grid-column: span 6;
}

.about-img .img-box {
    position: relative;
    max-width: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color);
}

.about-img .img-box img {
    border-radius: 50%;
}

.about-img .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 0 40%;
    padding: 14px;
    background-color: var(--main-color);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

}

.about-img .box-1 {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.about-img .box span {
    color: var(--bg-color);
    font-weight: bold;
    font-size: var(--fs-3x);
    margin: 0 0 5px;
    line-height: 1;
}

.about-img .box p {
    font-size: var(--fs-sm);
    text-transform: uppercase;
    color: var(--label-light-gray);
    margin: 0;
}
