.services-item {
    grid-column: span 3;
    text-align: center;
}

.services-item .img-box {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-color: var(--bg-color);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 8px;
    overflow: hidden;
}

.services-item .img-box img {
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.services-item:hover .img-box img {
    transform: scale(1.5);
}

.services-item h3 {
    text-transform: capitalize;
    font-size: var(--fs-lg);
    font-weight: 500;
}