.team-item {
    grid-column: span 4;
}

.team-item .img-box {
    max-width: 350px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 50%;
    padding: 15px;
    user-select: none;
}

.team-item img {
    border-radius: 50%;
    transition: filter 0.5s ease;
}

.team-item .details {
    background-color: var(--main-color);
    width: 85%;
    max-width: 260px;
    padding: 15px;
    margin: -45px auto 0;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    border-radius: 0 40px;
}

.team-item h3 {
    margin: 0 0 5px;
    color: var(--bg-color);
    font-size: var(--fs-x);
    font-weight: 500;
}


